<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"></setting>
    </settings>

    <!--定义别名-->
    <typeAliases>
        <package name="com.hy.crm.kw.entity"></package>
        <package name="com.hy.crm.kw.bo"></package>
        <package name="com.hy.crm.lsy.entity"></package>
        <package name="com.hy.crm.lsy.bo"></package>
        <package name="com.hy.crm.wry.entity"></package>
        <package name="com.hy.crm.wry.bo"></package>
    </typeAliases>
</configuration>