<!DOCTYPE html>
<!--suppress ALL-->
<html>
<head>
    <meta charset="utf-8">
    <title>新建合同</title>
    <link rel="stylesheet" href="../../../layui/css/layui.css" media="all">

</head>
<body>
<div>
    <div style="width: 60%;margin: 0 auto">
        <form class="layui-form" action="/crm/contract/saveNewContract.do">
            <div class="layui-form-item" style="padding: 1% 1% 0% 1%;">
                <div style="float: left;padding-left:10px;">
                    <img src="/img/main.png">
                    <span style="font-size: 25px;">&nbsp;&nbsp;商机名称：</span>
                    <div style="width: 45%;" class="layui-form-item layui-inline">
                        <div class="layui-input-inline">
                            <select name="businessId" th:name="businessId" lay-verify="required" lay-search="">
                                <option th:each="business:${blist}" th:value="${business.businessId}" th:text="${business.businessName}"></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div style="float: right;">
                    <div class="layui-form-item layui-inline">
                        <button class="layui-btn layui-btn-radius layui-btn-primary" onclick="goback()">
                            <i class="layui-icon layui-icon-left"></i>返回
                        </button>
                        <button class="layui-btn layui-btn-radius layui-btn-primary" onclick="refresh()">
                            <i class="layui-icon layui-icon-refresh-1"></i>刷新
                        </button>
                    </div>
                </div>
            </div>
            <div style="border-top:solid 1px #dddddd;border-bottom:1px solid #dddddd;background-color: #ffffe0;padding: 0.5% 0% 0.5% 2%;">
                <h2>新增合同</h2>
            </div>
            <div class="layui-form-item" style="padding: 2% 1% 1% 1%;">
                <div>
                    <div style="width: 45%;" class="layui-form-item layui-inline">
                        <label class="layui-form-label">合同名称：</label>
                        <div class="layui-input-inline">
                            <input type="text" name="contractName" placeholder="请输入内容" autocomplete="off" class="layui-input" style="width: 300px;border-radius:15px;">
                        </div>
                    </div>
                    <div style="width: 45%;" class="layui-form-item layui-inline">
                        <label class="layui-form-label">合同金额：</label>
                        <div class="layui-input-inline">
                            <input type="text" name="contractSum" placeholder="请输入内容" autocomplete="off" class="layui-input" style="width: 300px;border-radius:15px;">
                        </div>
                    </div>
                </div>
                <div>
                    <div style="width: 45%;" class="layui-form-item layui-inline">
                        <label class="layui-form-label">签约日期：</label>
                        <div class="layui-input-inline">
                            <input type="text" name="signDate" class="layui-input" id="test1" placeholder="yyyy-MM-dd" style="width: 300px;border-radius:15px;">
                        </div>
                    </div>
                    <div style="width: 45%;" class="layui-form-item layui-inline">
                        <label class="layui-form-label">生效日期：</label>
                        <div class="layui-input-inline">
                            <input type="text" name="validDate" class="layui-input" id="test1" placeholder="yyyy-MM-dd" style="width: 300px;border-radius:15px;">
                        </div>
                    </div>
                </div>
                <div>
                    <div style="width: 45%;" class="layui-form-item layui-inline">
                        <label class="layui-form-label">服务器至：</label>
                        <div class="layui-input-inline">
                            <input type="text" name="validityDate" class="layui-input" id="test1" placeholder="yyyy-MM-dd" style="width: 300px;border-radius:15px;">
                        </div>
                    </div>
                    <div style="width: 45%;" class="layui-form-item layui-inline">
                        <label class="layui-form-label">对方联系人：</label>
                        <div class="layui-input-inline">
                            <input type="text" name="contacts" placeholder="请输入内容" autocomplete="off" class="layui-input" style="width: 300px;border-radius:15px;">
                        </div>
                    </div>
                </div>
                <div>
                    <div style="width: 45%;" class="layui-form-item layui-inline">
                        <label class="layui-form-label">固定电话：</label>
                        <div class="layui-input-inline">
                            <input type="text" name="telephone" placeholder="请输入内容" autocomplete="off" class="layui-input" style="width: 300px;border-radius:15px;">
                        </div>
                    </div>
                    <div style="width: 45%;" class="layui-form-item layui-inline">
                        <label class="layui-form-label">移动电话：</label>
                        <div class="layui-input-inline">
                            <input type="text" name="phone" placeholder="请输入内容" autocomplete="off" class="layui-input" style="width: 300px;border-radius:15px;">
                        </div>
                    </div>
                </div>
                <div>
                    <div style="width: 45%;" class="layui-form-item layui-inline">
                        <label class="layui-form-label">邮件/QQ：</label>
                        <div class="layui-input-inline">
                            <input type="text" name="email" placeholder="请输入内容" autocomplete="off" class="layui-input" style="width: 300px;border-radius:15px;">
                        </div>
                    </div>
                </div>
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">主要技术条款</label>
                    <div class="layui-input-block">
                        <textarea placeholder="请输入内容" name="technicalClause" class="layui-textarea"></textarea>
                    </div>
                </div>
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">主要商务条款</label>
                    <div class="layui-input-block">
                        <textarea placeholder="请输入内容" name="commerceClause" class="layui-textarea"></textarea>
                    </div>
                </div>
                <div>
                    附件
                </div>
                <div class="layui-form-item layui-form-text" style="text-align:center;">
                    <button style="width: 85px;height: 35px;" class="layui-btn layui-btn-radius layui-btn-normal" lay-submit lay-filter="*">保存</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="../js/jquery-3.4.1.js"></script>
<script src="../../../layui/layui.js"></script>
<script>
    layui.use(['form','laydate'], function(){
        var form = layui.form;
        var laydate = layui.laydate;

        //常规用法
        laydate.render({
            elem: '#test1'
        });

    });

    //返回
    function goback(){
        window.close();
    }

    function refresh(){//刷新
        location.reload();
    }

</script>
</body>
</html>